body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
/* .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
} */

.header {
    width: 80%;
    margin: 0 auto;
    /* background-color: #333; */
    /* color: #fff; */
    padding: 20px;
    text-align: center;
    /* border-radius: 20px; */
    /* margin-bottom: 20px; */
    /* background-image: url('https://img.freepik.com/premium-photo/autism-awareness-rainbow-infinity-symbol-autism-adhd-neurodiversity-blue-background_174533-40053.jpg'); Replace with the path to your image */
    /* background-size: cover; Adjusts the size of the background image */
    /* background-position: center; Centers the background image */
    /* background-repeat: no-repeat; Ensures the background image doesn't repeat */
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

.header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.image img{
    width: 20%;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 10px;
    height: 70px;
    object-fit: fill;
    display: block;

}


.main-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 20px;
}
.main-grid2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.main-grid3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr ;
    grid-gap: 20px;
}

.feature-large {
    position: relative;
    grid-column: 1 / 2;
    border: 5px solid #000; /* Adjust the border width and color as needed */
    border-radius: 10px;
    height: 300px;
}

.feature-small {
    position: relative;
    margin-bottom: 20px;
    background-color: #93eaf0; /* Fallback color */
    /* background-image: url('path/to/your/fallback-image.jpg'); Replace with the path to your fallback image */
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    border: 5px solid #000; /* Adjust the border width and color as needed */
    border-radius: 10px; 
    height: 280px;
}
.feature-small1 {
    position: relative;
    /* grid-column: 2; */
    border: 5px solid #000; /* Adjust the border width and color as needed */
    border-radius: 10px; 
    height: 280px;
}




.feature-large img, .feature-small img,.feature-small1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.feature-large .overlay {
    font-size: 1.5em;
}

.feature-small .overlay {
    font-size: 1.2em;
}

.feature-small1 .overlay {
    font-size: 1.2em;
}


/* .feature-small:nth-child(2){
    grid-column: 2;
    position: relative;
}
.feature-small:nth-child(3) {
    grid-column: 1;
    position: relative;
}

.feature-small:nth-child(4){
    grid-column:2;
    position: relative;
}
.feature-small:nth-child(5) {
    grid-column: 1;
    position: relative;
}

.feature-small:nth-child(6){
    grid-column: 2;
    position: relative;
}
.feature-small:nth-child(7) {
    grid-column: 1;
    position: relative;
} */